@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');

:root {
  --header: 4rem;

  --first-color: #26a69a;
  --first-color-lighter: #b9e3ee;
  --title-color: #11443f;
  --text-color: #5b7b78;
  --body-color: #f8faff;

  --gradient-color: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);

  --body-font: 'Montserrat', sans-serif;
  --big-font: 3rem;
  --meadium-font: 1.25rem;
  --normal-font: 0.938rem;

  --meadium-bold: 500;
  --semi-bold: 600;

  --z-tool: 10;
  --z-fixed: 100;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
  overflow-x: hidden;
  background: var(--body-color);
}

.container {
  width: 100%;
  min-width: 100vh;
  padding-left: 8%;
  padding-right: 8%;
  overflow: hidden;
}
.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  height: var(--header);
}
.logo {
  width: 120px;
  cursor: pointer;
  margin: 30px 0;
}
.menuicon {
  width: 40px;
  display: none;
}

nav {
  flex: 1;
  text-align: right;
}

nav ul li {
  list-style: none;
  display: inline-block;
  margin-right: 30px;
}

nav ul li a {
  text-decoration: none;
  color: #1a1919;
  font-weight: 500;
}
nav ul li a:hover {
  color: var(--first-color);
}
.row {
  display: flex;
  position: absolute;
  margin: 180px 0;
  justify-content: space-between;
  align-items: center;
  font-size: 10px;
  width: 40%;
  color: #383838;
}

.membertxt {
  font-size: 30px;
  color: var(--title-color);
  margin-bottom: 20px;
}
h4 {
  font-size: 30px;
}
button {
  width: 140px;
  border: 0;
  outline: none;
  color: var(--text-color);
  background: var(--gradient-color);
  padding: 10px 20px;
  margin: 7px;
  border-radius: 10rem;
  cursor: pointer;
  transition: width 0.5s;
}
button i {
  width: 15px;
  align-items: center;
  display: none;
  align-items: center;
  justify-content: space-between;
}
.col2 {
  position: absolute;
  flex-basis: 70%;
  display: flex;
  align-items: center;
  margin-left: 96%;
}
.col2 .man {
  margin: 20px;
}

.color-box {
  position: absolute;
  right: 0;
  top: 5;
  background: var(--gradient-color);
  border-radius: 20px 0 0 20px;
  height: 60%;
  width: 150%;
  z-index: -1;
  transform: translateX(350px);
}
.color-box img {
  justify-content: center;
  padding: 10% 120px;
  margin-left: 30%;
}
.color-box p {
  justify-content: center;
  position: absolute;
  right: 22%;
  top: 80%;
  margin-left: 30%;
  color: #ffffff;
  font-size: 20px;
}

@media only screen and (max-width: 700px) {
  nav ul {
    text-align: center;
    position: fixed;
    top: var(--header);
    margin: 0 0.5rem;
    box-shadow: black;
    right: 0;
    left: 0;
    z-index: 2;
    background: var(--first-color-lighter);
    border-radius: 10px;
  }

  nav ul li {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  nav ul li a {
    color: #ffffff;
  }
  nav ul li a:hover {
    color: #383838;
  }
  .menuicon {
    display: block;
    position: absolute;
    right: 0;
    margin-right: 10px;
  }
  .logo {
    display: inline-block;
    margin: 20px 0;
    position: relative;
    right: 30px;
  }

  #navlist {
    overflow: hidden;
    transition: 0.5s;
  }

  .raw {
    flex-direction: column-reverse;
    margin: 50px 0;
  }

  .col {
    flex-basis: 100%;
    margin-bottom: 50px;
  }

  .color-box {
    transform: translateX(75px);
    height: 80%;
    width: 500px;
    left: 10px;
  }

  .col2 .man {
    width: 400%;
    right: 0;
  }

  .color-box img {
    display: none;
  }

  .color-box p {
    display: none;
  }
}
